.country-details-container {
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 32px;
}

.back-button {
    padding: 6px 24px;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    cursor: pointer;
}

.country-details {
    display: flex;
    align-items: center;
    gap: 64px;
    margin-top: 64px;
}

.country-details img {
    width: 40%;
    border: 1px solid #ddd;
}

.details-text {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    column-gap: 64px;
    max-height: 180px;
    flex-wrap: wrap;
}

.details-text p {
    margin: 0;
}

.border-countries {
    margin-top: 48px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px;
}

.border-countries a {
    padding: 4px 16px;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-size: 14px;
}
.shimmer .flag {
  width: 40%;
  height: 240px;
  background-color: rgb(179, 178, 178);
  border-radius: 4px;
}
.shimmer .title {
  height: 36px;
  background-color: rgb(179, 178, 178);
  border-radius: 4px;
}
.country-details.shimmer p {
  height: 22px;
  background-color: rgb(179, 178, 178);;
  border-radius: 2px;
}
.country-details.shimmer p:last-child {
  width: 50%;
}

.details-text-container {
  flex-grow: 1;
}

@media(max-width: 940px) {
    .country-details {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 32px;
        gap: 16px;
    }

    .details-text {
        max-height: unset;
    }

    .country-details img {
        width: 100%;
        max-width: 400px;
    }
 .shimmer .flag, .details-text-container {
    width: 100%;
    max-width: 400px;
  }
  
}